{% extends 'base.html' %}
{% block content %}
<h1>Liste des emprunts</h1>
<table class="table table-bordered">
  <thead><tr><th>Livre</th><th>Lecteur</th><th>Date emprunt</th><th>Date retour prévue</th><th>Statut</th><th>Action</th></tr></thead>
  <tbody>
    {% for loan in loans %}
      <tr>
        <td>{{ loan.book.title }}</td>
        <td>{{ loan.reader.username }}</td>
        <td>{{ loan.loan_date }}</td>
        <td>{{ loan.due_date }}</td>
        <td>{{ loan.get_status_display }}</td>
        <td>
          {% if user.profile.role == 'bibliothecaire' and loan.status == 'en_cours' %}
            <a href="{% url 'loans:loan-return' loan.pk %}" class="btn btn-sm btn-success">Valider retour</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="6">Aucun emprunt.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
